/src/*.so
/src/*.o
/src/*.dll
.Rproj.user
.Rhistory
.RData
data.json
test.dbf
test.shp
test.shx
test2.shp.geojson
mapview2.Rproj.RData
README
buildings.cpg
buildings.dbf
buildings.prj
buildings.shp
buildings.shx
landuse.cpg
landuse.dbf
landuse.prj
landuse.shp
landuse.shx
natural.cpg
natural.dbf
natural.prj
natural.shp
natural.shx
places.cpg
places.dbf
places.prj
places.shp
places.shx
points.cpg
points.dbf
points.prj
points.shp
points.shx
railways.cpg
railways.dbf
railways.prj
railways.shp
railways.shx
roads.cpg
roads.dbf
roads.prj
roads.shp
roads.shx
switzerland.zip
waterways.cpg
waterways.dbf
waterways.prj
waterways.shp
waterways.shx
inst/doc
docs/
.vscode
